/*ESTILO DE LETRA GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    
    overflow: hidden;
    margin: 0;
   
    box-sizing: border-box;
    background-color: rgb(61, 59, 59);
}

html, body {
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: black;
  }

  h1 {
    color: blanchedalmond;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

/* .tituloTP{
    box-sizing: border-box;
    text-align: center;
    font-size: 36px;
    margin: 10px;
    font-weight: 600;
    letter-spacing: -1px; 
} */

.panelDeBotones{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.boton{
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border-radius: 10;
    border: none;
    padding: 10px;
    margin: 2.5px;
    color: white;
    background-color: transparent;
}


/*------   main   ------*/
  
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /*----------- seccion meme  ---------*/

  .meme-container {
    width: 100%;
    max-width: 500px;
    height:500px;
    display: flex;
    flex-direction: column;
  }

  .top-text, .bottom-text {
   padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    
    
  }

  p {
      margin:0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      
  }

  .img-src {
    height: 100%;
    background-color: black;
    overflow: hidden;
  }

  .descargar-imagen {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
    background-color: rgb(16, 146, 16);
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

